.btn_perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
} 

.btn_perfil button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn_perfil span{
    font-size: 0.6rem;
    text-align: center;
}


