.container_tudo_categoria{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo{
    border-bottom: 1px solid #a1a1a1;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    width: 80%;
}

.titulo h1 span{
    color: red;
}

.all_list{
    display: flex;
    height: 30vh;
    width: 80%;
}