.container_card{
    width: 180px;
}

.card_info{
    display: flex;
    flex-direction: column;
}

.card_info h2{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.card_info span{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.card_info a{
    color: #2a7ae4;
    font-size: 0.7rem;
    font-weight: 700;
    text-decoration: none;
}

.card_img img{
    max-width: 150px;
    transition: ease 200ms;
}

.card_img:hover{
    opacity: 0.5;
}