.nav_container{
    align-items: center;
    background-color: #40a9ff;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    z-index: 9;
}

.logo_container{
    display: flex;
    width: 20%;
}

.logo_container img{
    height: 120px;
    width: 160px;
}

.search_bar{
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 1rem;
    display: flex;
    height: 50%;
    justify-content: space-between;
    margin-top: 0.5rem;
    width: 30%;
}

.search_bar img{
   width: 35px; 
}

.search_bar input{
    background-color: transparent;
    border: none;
    font-size: 0.85rem;
    padding: 1rem;
    outline: none;
    width: 80%;
}

.search_bar img{
    background-color: transparent;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.menu{
    align-items: center;
    display: flex;
}

.menu a{
    border: 1px solid hsl(13, 93%, 64%);
    color: #ff6439;
    display: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.search_bar>input:focus .search_bar{
    width: 100%;
}

.search_bar input:focus{
    width: 100%;
}

.search_bar>input:focus .logo_container{
    display: none;
}

.search_bar>input:focus .menu{
    display: none;
}


@media only screen and (min-width: 1005px){
    .search_bar{
        display: flex;
    }
    
    .menu a{
        display: flex;
    }
    
    .menu >svg{
        display: none;
    }
}