.container_sm{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}

.container_sm h2{
    color: #e4522a;
}

.custom_form{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0.8rem;
    width: 100%;
}

.form_group{
    width: 80%;
}

.form_floating{
    margin-bottom: 1rem;
    padding: 0;
}

.container_sm p > span a{
    text-decoration: underline transparent;
    transition: all 400ms;
}

.container_sm p > span a:hover{
    text-decoration: underline #e4522a;
}

.error{
    color: red;
    font-size: 0.8rem;
}

.hidePassword{
    border: none;
    background: none;
    outline: none;
}