.container_footer {
    align-items: center;
    background-color: #40a9ff;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    width: 100%;
}

.container_footer>:first-child{
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: space-between;
    width: 80%;
}

.footer_logo {
    color: #f49222;
    height: 50%;
    text-align: center;
    width: 40%;
}

.footer_logo h1{
    font-size: 1.6rem;
}

.nav_footer {
    display: flex;
    justify-content: center;
    width: 50%;
}

.nav_footer ul {
    font-size: 0.65rem;
    margin-bottom: 1rem;
}

.nav_footer ul li {
    color: #fff;
    list-style: none;
    margin-bottom: 0.2rem;
}

.dev {
    background-color: transparent;
    text-align: center;
    width: 80%;
}

.dev h2, .dev span{
    background: transparent;
    font-size: 0.6rem;
}

.dev h2 {
    color: #fff;
    font-weight: normal;
}

.dev span{
    color: #fff;
}

.dev h2 span {
    color: #e28d2b;
}