.carrinho {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 70%;
    max-width: 100%;
    padding: 1rem 0.5rem 0;
    position: absolute;
    transform: translate(110%, 0);
    transition: all 400ms ease;
    top: 5%;
    right: 0;
    width: 330px;
}

.carrinho_ativo {
    transform: translate(0, 0);
  }

.carrinho_resumo {
    border-top: 1px solid #eee;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.carrinho_resumo h3 {
    font-weight: 500;
    text-align: center;
}