.banner_container {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.promo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin-left: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    width: 80%;
}

.promo h2 {
    background: transparent;
    color: #fff;
    margin-bottom: 0.8rem;
}

.promo p {
    background: transparent;
    color: #fff;
    margin-bottom: 0.5rem;
}

.promo a {
    background: #292929;
    border: 1px solid transparent;
    color: #f5e239;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    max-width: 180px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: ease 300ms;
}

.promo a:hover{
    border: 1px solid #f5e239;
}